/*!
    Title: Resume of Romain Giovanetti, based on a fork of Dev Portfolio Template by Ryan Fitzgerald
    Original Author: Ryan Fitzgerald, Fork by Romain Giovanetti (Ganoninc)
    Original Repo: https://github.com/RyanFitzgerald/devportfolio-template
    Fork repo: https://github.com/ganoninc/resume

    Description: This file contains all the styles associated with the page
    that don't come from third party libraries. This file gets compiled using
    Gulp and send to the /css folder which is then loaded on the page.

    Stars animation code found on CodePen.io (http://codepen.io/saransh/pen/BKJun), thanks to its creator.
*/


/*
    File Contents:

        1. Variables
        2. Mixins
        3. Global Styles
        4. Lead Styles
        5. About Styles
        6. Experience Styles
        7. Education Styles
        8a. Publications Styles
        8b. Project Styles
        9. Skills Styles
        10. Contact Styles
        11. Media Queries
*/


/*
    ------------------------
    ----- 1. Variables -----
    ------------------------
*/

// Define base and accent colors
$base-color: #3498db;
$base-color-darker: darken($base-color, 20%);
$base-color-brighter: lighten($base-color, 25%);
// Define background colors
$background: #fff;
$background-alt: #f2f2f5;
// Define border colors
$border: #dcd9d9;
// Define text colors
$heading: #374054;
$text: #74808a;
// n is number of stars required
@function multiple-box-shadow ($n) {
    $value: '#{random(2000)}px #{random(2000)}px #FFF';
    @for $i from 2 through $n {
        $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
    }
    @return unquote($value)
}

$shadows-small: multiple-box-shadow(1000);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);
// infinite: animations On
// 0: animations off
$infinite-animation-switch: infinite;

/*
    ---------------------
    ----- 2. Mixins -----
    ---------------------
*/

@mixin transition($duration: 0.5s, $func: ease, $property: all) {
    transition: #{$duration} #{$func} #{$property};
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
        opacity: 1;
    }
    &::-moz-placeholder {
        @content;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        @content;
    }
}


/*
    ----------------------------
    ----- 3. Global Styles -----
    ----------------------------
*/

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    a{
        color: $base-color;
    }
    &.active {
        overflow: hidden;
        z-index: -1;
    }
}

// No JS styles
.no-js {
    #experience-timeline {
        >div {
            background: $background;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid $border;
            h3 {
                font-size: 1.5em;
                font-weight: 300;
                color: $heading;
                display: inline-block;
                margin: 0;
            }
            h4 {
                font-size: 1.2em;
                font-weight: 300;
                color: #7e8890;
                margin: 0 0 15px 0;
            }
            p {
                color: $text;
                font-size: 0.9em;
                margin: 0;
            }
        }
        &:before,
        &:after {
            content: none;
        }
    }
}

.tippy-tooltip.resume-theme {
    font-size: 12pt;
    border: 1px solid grey;
}

header {
    position: relative;
    top: -75px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    transition: all 0.25s ease 0.25s;
    ul {
        display: inline-block;
        text-align: center;
        width: 100%;
        padding: 10px;
        margin: 0;
    }
    a {
        display: block;
        color: $base-color;
        color: white;
        padding: 10px;
        transition-property: all;
        transition-duration: 0.25s;
        transition-timing-function: ease;
        &:hover {
            color: $base-color-darker;
            text-decoration: none;
            background: #f5f5f5;
            border-radius: 4px;
        }
        &:focus {
            color: white;
            text-decoration: none;
        }
    }
    .active {
        a {
            color: $base-color-darker;
            text-decoration: none;
            background:#f5f5f5;
            border-radius: 4px;
        }
    }
    &.translucent ul {
        -webkit-backdrop-filter: saturate(200%) blur(25px);
        backdrop-filter: saturate(180%) blur(20px);
        background-color: rgba(255, 255, 255, 0.75);
        color: $base-color;
        a {
            color: $base-color;
        }
    }
    &.opaque ul {
        background-color: white;
        color: $base-color;
        a {
            color: $base-color;
        }
    }
    li {
        display: inline-block;
    }
    &.active {
        display: block;
    }
    &.sticky {
        position: fixed;
        z-index: 999;
    }
    &.visible {
        top: 0px;
    }
}

#menu {
    &.active {
        display: block;
    }
}

#mobile-menu-open {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 15px;
    color: $base-color;
    font-size: 2em;
    z-index: 20;
    padding: 0 10px;
    border-radius: 4px;
    background: $background;
}

#mobile-menu-close {
    display: none;
    text-align: right;
    width: 100%;
    background: $background;
    font-size: 1.5em;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 23px;
    cursor: pointer;
    color: $base-color;
    span {
        font-size: 0.5em;
        text-transform: uppercase;
    }
    i {
        vertical-align: middle;
    }
}

footer {
    padding: 50px 0;
}

.copyright {
    padding-top: 20px;
    p {
        margin: 0;
        color: $text;
    }
}

.top {
    text-align: center;
    span {
        cursor: pointer;
        display: block;
        margin: 15px auto 0 auto;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 3px solid lighten($text, 25%);
        text-align: center;
    }
    i {
        color: $text;
    }
}

.social {
    text-align: right;
    ul {
        margin: 5px 0 0 0;
        padding: 0;
    }
    li {
        display: inline-block;
        font-size: 1.25em;
        list-style: none;
    }
    a {
        display: block;
        color: $text;
        padding: 10px;
        &:hover {
            color: $base-color;
        }
    }
}

.btn-rounded-white {
    display: inline-block;
    color: #fff;
    padding: 15px 25px;
    border: 3px solid #fff;
    border-radius: 30px;
    background-color: #0d354f;
    @include transition();
    &:hover {
        color: $base-color;
        background: #fff;
        text-decoration: none;
    }
    &:focus {
        color: #fff;
        background-color: rgb(21, 30, 40);
        text-decoration: none;
    }
    &:active {
        color: $base-color;
        background: #fff;
        text-decoration: none;
    }
    &:visited {
        color: #fff;
        background-color: #0d354f;
        text-decoration: none;
    }
}

.shadow {
    box-shadow: 0px 1px 25px rgba(0,0,0,0.25);
}

.shadow-large {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 30px 0;
    &:after {
        position: absolute;
        content: '';
        top: 100%;
        height: 1px;
        width: 50px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: $base-color;
    }
}

.background-alt {
    background: $background-alt;
}

.btn-download, .btn-show-more {
    background-color: white;
    display: inline-block;
    margin: auto;
    margin-top: 30px;
    border: 1px solid;
    border-radius: 10px;
    color: #3498db;
    padding: 10px;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    text-decoration: none;
    cursor: pointer;
}
.btn-download:hover, .btn-show-more:hover {
    color: #2471a5;
    background-color: #eff8ff;;
    text-decoration: none; //background: #eee;
    border-radius: 4px;
}

/*
    --------------------------
    ----- 4. Lead Styles -----
    --------------------------
*/

#lead {
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    background-color: #0f2f45;
    background: radial-gradient(ellipse at center, #11405f 0%, #170101 100%);
    padding: 15px;
    overflow: hidden;
    #stars {
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-small;
        animation: animStar 50s linear $infinite-animation-switch;
        &:after {
            content: " ";
            position: absolute;
            top: 2000px;
            width: 1px;
            height: 1px;
            background: transparent;
            box-shadow: $shadows-small;
        }
    }
    #stars2 {
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
        animation: animStar 100s linear $infinite-animation-switch;
        &:after {
            content: " ";
            position: absolute;
            top: 2000px;
            width: 2px;
            height: 2px;
            background: transparent;
            box-shadow: $shadows-medium;
        }
    }
    #stars3 {
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: $shadows-big;
        animation: animStar 150s linear $infinite-animation-switch;
        &:after {
            content: " ";
            position: absolute;
            top: 2000px;
            width: 3px;
            height: 3px;
            background: transparent;
            box-shadow: $shadows-big;
        }
    }
    @keyframes animStar {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-2000px);
        }
    }
    .animation-disabled {
        animation: animStar 150s linear 0 !important;
    }
}

#lead-content {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h1,
    h2 {
        margin: 0;
    }
    h1 {
        color: #fff;
        font-weight: 900;
        font-size: 5em;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        line-height: 0.9em;
    }
    h2 {
        color: lighten($base-color, 25%);
        font-weight: 500;
        font-size: 2.25em;
        margin-bottom: 15px;
    }
    h3 {
        color: white;
        font-weight: normal;
        line-height: 1.8em;
    }
}

#lead-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($base-color-darker, 0.25);
    z-index: 1;
}

#lead-down {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    bottom: 30px;
    color: #fff;
    span {
        cursor: pointer;
        display: block;
        margin: 0 auto;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 3px solid lighten($base-color, 25%);
        text-align: center;
    }
    i {
        animation: pulsate 1.5s ease;
        animation-iteration-count: $infinite-animation-switch;
        padding-top: 5px;
        ;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}


/*
    ---------------------------
    ----- 5. About Styles -----
    ---------------------------
*/

#about {
    padding: 80px 15px;
    text-align: center;
    .profile-picture{
        display: block;
        margin: auto;
        border-radius: 100px;
        margin-bottom: 50px;
        box-shadow: 0px 1px 1px 0px #dad8d8;
        transition: all 0.25s ease;
    }
    h2 {
        color: $heading;
        max-width: 600px;
        font-size: 2.2em;
        margin-bottom: 60px;
        .highlight {
            color: $base-color;
        }
    }
    .heading:after {
        content: none;
    }
    p {
        display: block;
        margin: auto;
        max-width: 500px;
        text-align: justify;
        font-size: 1.2em;
        color: $text;
        line-height: 1.6em;
        font-weight: lighter;
    }
    &:hover .profile-picture {
        transform: scale(1.25);
        border-radius: 25px;
    }
}


/*
    --------------------------------
    ----- 6. Experience Styles -----
    --------------------------------
*/

#experience {
    padding: 80px 15px;
    text-align: center;
    h2 {
        color: $heading;
    }
}

.partially-hidden{
    max-height: 100vh;
    overflow: hidden;
}

#show-more-experiences{
    background-color: #f2f2f5;
    background: linear-gradient(to top,
         #f2f2f5 50%, 
         rgba(255,255,255, 0) 100%
    );
    height: 200px;
    margin-top: -200px;
    position: relative;
    z-index: 100;
    display: flex;  
    justify-content: center;
    align-items: flex-end;
    #show-more-experiences__button {
        display: inline-block;
        margin: 0;
        margin-bottom: 50px;
    }
}

#experience-timeline {
    margin: 30px auto 0 auto;
    position: relative;
    max-width: 900px;
    &:before {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: 303px;
        right: auto;
        height: 100%;
        width: 3px;
        background: $base-color;
        z-index: 0;
    }
    &:after {
        position: absolute;
        content: '';
        width: 3px;
        height: 40px;
        background: $base-color;
        background: linear-gradient(to bottom, $base-color, rgba($base-color, 0));
        top: 100%;
        left: 303px;
    }
}

.vtimeline-content {
    margin-left: 350px;
    background: #fff;
    padding: 40px 40px;
    text-align: left;
    box-shadow: 0px 1px 5px 0px #e2e2e2;
    h3 {
        font-size: 1.5em;
        font-weight: 300;
        color: $heading;
        display: inline-block;
        margin: 0;
    }
    h4 {
        font-size: 1.2em;
        font-weight: 300;
        color: #7e8890;
        margin: 0 0 0 0;
    }
    strong{
        color:#525252;
    }
    p {
        color: $text;
        font-size: 0.9em;
        line-height: 1.9em;
        margin: 0;
        margin-top: 20px;
        text-align: justify;
    }
    ul {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 22px;
        li {
            display: block;
            margin: 10px 0px;
            padding-left:10px;
            font-size: 0.9em;
            line-height: 1.5em;
            color: $text;
            max-width: 430px;
            text-align: justify;

            .fa-li {
                color: $base-color;
            }
        }
    }
    
}

.vtimeline-point {
    position: relative;
    display: block;
    vertical-align: top;
    margin-bottom: 30px;
}

.vtimeline-icon {
    position: relative;
    color: #fff;
    width: 50px;
    height: 50px;
    background: $base-color;
    border-radius: 50%;
    float: left;
    z-index: 99;
    margin-left: 280px;
    i {
        display: block;
        font-size: 2em;
        margin-top: 10px;
    }
}

.vtimeline-date {
    width: 260px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 300;
    color: #374054;
}


/*
    -------------------------------
    ----- 7. Education Styles -----
    -------------------------------
*/

#education {
    padding: 80px 15px;
    text-align: center;
    h2 {
        color: $heading;
        margin-bottom: 50px;
    }
}

.education-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 30px;
    text-align: left;
    box-shadow: 0px 1px 5px 0px #e2e2e2;
    transition: all 0.25s ease;
    h3 {
        font-weight: 500;
        float: left;
        margin: 0;
        color: $heading;
    }
    span {
        color: $text;
        float: right;
    }
    h4 {
        color: $text;
        clear: both;
        font-weight: 500;
        margin: 0;
        padding-top: 10px;
    }
    p,
    ul {
        margin: 0;
        margin-top: 20px;
        color: $text;
        font-size: 0.9em;
    }
    ul {
        padding: 0 0 0 15px;
    }
    &:hover {
        transform: scale(1.025);
        box-shadow: 0px 1px 6px 0px #c5c5c5;
    }
}


/*
    -------------------------------
    ----- 8a. Publications Styles -----
    -------------------------------
*/

#publications {
    padding: 80px 15px;
    text-align: center;
    h2 {
        color: $heading;
        margin-bottom: 50px;
    }
}

.publications {
    position: relative;
    max-width: 900px;
    margin: 0 auto 30px auto;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
}

.publication-block {
    position: relative;
    max-width: 900px;
    margin: 0 auto 30px auto;
    overflow: hidden;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 1px 5px 0px #e2e2e2;
    h3 {
        font-size: 1.5em;
        font-weight: 300;
        color: #374054;
        display: inline-block;
        display: block;
        margin: auto;
        width: 80%;
    }
    .publication-authors {
        display: block;
        margin: 30px;
        color: #6b6b6b;
    }
    .publication-publication {
        display: block;
        margin: auto;
        font-size: 1em;
        font-weight: 300;
        color: #7e8890;
        max-width: 60%;
    }
}


/*
    -------------------------------
    ----- 8b. Project Styles -----
    -------------------------------
*/

#projects {
    padding: 80px 15px;
    text-align: center;
    h2 {
        color: $heading;
        margin-bottom: 50px;
    }
}

.project {
    position: relative;
    max-width: 900px;
    margin: 0 auto 30px auto;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 5px 0px #e2e2e2;
}

.project-image {
    float: left;
}

.project-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 300px;
    padding: 15px;
    h3 {
        font-size: 1.5em;
        font-weight: 300;
        color: $heading;
        margin: 0 0 15px 0;
    }
    p {
        color: $text;
        margin: 0 0 15px 0;
        font-size: 0.9em;
    }
}

#project-github-link {
    display: block;
    margin-top:60px;
}


/*
    -------------------------------
    ----- 9. Skills Styles -----
    -------------------------------
*/

#skills {
    padding: 80px 15px;
    text-align: center;
    h2 {
        color: $heading;
        margin-bottom: 50px;
    }
    ul {
        display: block;
        margin: 0 auto;
        padding: 0;
        max-width: 800px;
    }
    li {
        display: inline-block;
        margin: 7px;
        padding: 6px 12px;
        color: $heading;
        background: darken($background-alt, 5%);
        list-style: none;
        cursor: default;
        font-size: 1.0em;
        opacity: 0.9;
        transition: 0.25s;
        &.main-skill {
            font-size: 1.4em;
            padding: 8px 16px;
            opacity: 1;
        }
        &.other-skill {
            font-size: 0.7em;
            padding: 3px 6px;
            opacity: 0.5;
        }
        &.skill-hover-event{
            background-color: $base-color-brighter;
            opacity: 1;
            transform: scale(1.125);
            color: black;
        }
    }
}


/*
    -------------------------------
    ----- 9.b Others Styles -----
    -------------------------------
*/

#others {
    padding: 80px 15px;
    text-align: center;
    h2 {
        color: $heading;
        margin-bottom: 50px;
    }
    .row {
        max-width: 900px;
        margin: auto;
        .download-item {
            color: #337ab7;
            padding: 30px;
            .icon {
                margin: auto;
                width: 133px;
                height: 190px;
                border-radius: 2px;
                margin-bottom: 20px;
                background-color: white;
                box-shadow: 0px 1px 5px 0px #e2e2e2;
                background-color: #f2f2f5;

                .label {
                    display: block;
                    position: relative;
                    bottom: -55px;
                    left: 0px;
                    font-size: 14pt;
                    color: #353e51;
                }
            }
        }
    }
}


/*
    -------------------------------
    ----- 10. Contact Styles -----
    -------------------------------
*/

#contact {
    padding: 80px 15px;
    background: $base-color;
    text-align: center;
    h2 {
        margin: 0 0 15px 0;
        color: #fff;
        font-weight: 500;
    }
}

#contact-form {
    max-width: 500px;
    margin: 0 auto;
    input,
    textarea {
        display: block;
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        border: none;
        margin-bottom: 10px;
        background: darken($base-color, 15%);
        color: #fff;
        @include transition();
        @include placeholder {
            color: #fff;
        }
        &:focus {
            outline: none;
            background: darken($base-color, 25%);
        }
    }
    textarea {
        height: 150px;
        resize: none;
    }
    button {
        display: block;
        width: 100%;
        background: #fff;
        border-radius: 4px;
        padding: 5px 10px;
        border: none;
        color: $base-color;
        font-weight: 700;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        @include transition();
        &:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        }
    }
}


/*
    ----------------------------
    ----- 11. Media Queries -----
    ----------------------------
*/

// Collapse timeline
@media only screen and (max-width: 750px) {
    #experience-timeline {
        &:before,
        &:after {
            left: 23px;
        }
    }
    .vtimeline-date {
        width: auto;
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        display: block;
        margin-left: 70px;
    }
    .vtimeline-icon {
        margin-left: 0;
    }
    .vtimeline-content {
        margin-left: 70px;
    }
}

// Medium Devices
@media only screen and (max-width: 992px) {
    #lead {
        height: auto;
        min-height: auto;
        max-height: auto;
        padding: 100px 15px;
    }
    #lead-content {
        position: relative;
        transform: none;
        left: auto;
        top: auto;
        h1 {
            font-size: 3em;
        }
        h2 {
            font-size: 1.75em;
        }
    }
    #about {
        text-align: center;
        .heading {
            font-size: 2em;
        }
        p {
            text-align: justify;
            font-size: 1.1em;
            line-height: 1.8em;
        }
    }
    .vtimeline-content {
        padding: 20px;
        p {
            font-size: 0.9em;
        }
        li {
            font-size: 0.9em;
            text-align: left;
        }
    }
    #publications {
        .publication-block {
            h3 {
                font-size: 1.3em;
                width: auto;
            }
            .publication-publication {
                font-size: 1em;
                max-width: 100%;
                line-height: 1.5em;
            }
        }
    }
}

// Small Devices
@media only screen and (max-width: 768px) {
    header {
        position: fixed;
        display: none;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 100%;
        ul {
            background: $background;
            a {
                color: $base-color;
            }
            &.translucent {
                a {
                    color: $base-color;
                }
            }
        }
    }
    #mobile-menu-open,
    #mobile-menu-close {
        display: block;
    }
    #menu {
        height: 100%;
        overflow-y: auto;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
        li {
            display: block;
            padding: 5px;
            a{
                padding: 10px;
            }
        }
    }
    #lead-content {
        h1 {
            font-size: 2em;
        }
        h2 {
            font-size: 1.3em;
            margin-top: 25px;
        }
        a {
            padding: 10px 20px;
        }
    }
    #lead-down {
        display: none;
    }
    #about {
        .heading {
            font-size: 1.5em;
        }
        p {
            font-size: 1em;
        }
    }
    .vtimeline-content {
        p {
            text-align: left;
        }
        ul{
            li{
                text-align: left;
            }
        }
    }
    .education-block {
        h3,
        span {
            float: none;
        }
    }
    .project-image {
        display: none;
    }
    .project-info {
        position: relative;
        margin: 0;
        top: auto;
        transform: none;
    }
    footer {
        text-align: center;
    }
    .social {
        text-align: center;
    }
}

// Extra Small Devices
@media only screen and (max-width: 480px) {
    #lead-content {
        h1 {
            font-size: 2.5em;
        }
        h2 {
            font-size: 1.5em;
        }
        a {
            font-size: 0.9em;
        }
    }
    #experience {
        .vtimeline-content {
            h3 {
                font-size: 1.3em;
            }
            h4 {
                font-size: 1.1em;
            }
            ul {
                margin-left: -10px;
                li:before {
                    padding-left: 10px;
                }
            }
        }
    }
}